mda2ascii
mda-ls
mda-info
mda-dump
libmda-load.a
*.o
*.mda
test/
doc/*
!doc/*.1
!doc/*.tex
!doc/*.txt
!doc/LICENSE
!doc/Makefile
release/*
!release/index.html
!release/previous.html
!release/Makefile

